
              <%= simple_form_for @inquiry, html: { autocomplete: 'off' } do |f| %>
                <%= f.invisible_captcha :spam %>
                <%= f.input :name, placeholder:'Your name', label: false %>
                <%= f.input :email, placeholder: 'Your e-mail', label: false %>
                <%= f.input :phone, placeholder: 'Your contact number', label: false %>
                <%= f.input :message, input_html: { rows: 4 }, placeholder: 'Inquiry', label: false %>
                <div class="text-left">
                  <div class="button submit">
                    <%= f.submit "Send" %>
                  </div>
                </div>
              <% end %>
