<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "contact-page" %>

<div class="content" style="padding-top: 8rem;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <div class="cell large-6">
        <h1><%= @page.title %></h1>
        <%= @page.content(:text).try(:html_safe) %>
        <div class="sidebar">
          <%= render partial: "layouts/flash" if flash.any? %>
          <p>
            <a href="tel:<%= current_account.phone %>" class="h5"><%= current_account.phone %></a></br>
            <a href="mailto:<%= current_account.email %>" class="h5"><%= current_account.email %></a>
          </p>
          <p>
            <%= current_account.address %> <%= current_account.city%> <%= current_account.postal_code %>
          </p>
        </div>
      </div>

      <div class="cell large-6">
        <%= render partial: "spina/inquiries/form" %>
      </div>

    </div>
  </div>
</div>


<div class="content fullwidth joinus" style="background-image: url('/packs/media/images/sing-04251e69fcdec98dab66d80981005f5d.jpg');">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-6 text-center">
        <h3>Interested in<br /><strong>Joining us?</strong></h3>
        <a href="/contact" class="button">Apply now</a>
      </div>
    </div>
  </div>
</div>
