<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "agency-page" %>

<div class="banner" style="background-image: url(<%= main_app.url_for(@page.content(:banner).variant(resize: "1280x720")) if content(:banner).present? %>);">
  <div class="banner__heading grid-container">
      <div class="grid-y">
        <div class="cell small-8">
          <h1 class="page-title"><%= @page.title %></h1>
        </div>
      </div>
  </div>
  <div class="banner__content grid-container">
      <div class="grid-y">
        <div class="cell small-8">
          <%= content(:banner_title).try(:html_safe) %>
        </div>
        <div class="cell small-8">
          <%= content(:banner_text).try(:html_safe) %>
        </div>
      </div>
  </div>
</div>

<div class="content">
  <div class="grid-container">
    <div class="grid-x openday">
      <div class="cell large-6 grid-x">
        <div class="cell large-5 openday-text align-middle">
          <%= content(:text).try(:html_safe) %>
        </div>
      </div>
      <div class="cell large-6 openday-image" style="background-image: url(<%= main_app.url_for(@page.content(:image).variant(resize: "1280x720")) if content(:image).present? %>);">

      </div>
    </div>
  </div>
</div>

<div class="content whitebg fees">
  <div class="grid-container">

    <div class="grid-x grid-padding-x align-middle">
      <div class="cell large-12">
        <h4>Agency fees</h4>
      </div>
      <div class="cell medium-6">
        <%= content(:fees_text).try(:html_safe) %>
      </div>
      <div class="cell medium-6">
        <%= content(:rates).try(:html_safe) %>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell large-12 price">
        <h5><%= content(:price).try(:html_safe) %></h5>
      </div>
    </div>
  </div>
</div>

<div class="content clients">
  <div class="grid-container">
    <div class="grid-x openday align-middle">
      <div class="cell medium-5">
        <%= content(:clients_text).try(:html_safe) %>
      </div>
      <div class="cell medium-6 medium-offset-1">
        <h4>Theatre</h4>
        <div class="cell grid-x grid-padding-x client-grid">
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
        </div>
        <h4>Commercial</h4>
        <div class="cell grid-x grid-padding-x client-grid">
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
        </div>
        <h4>Television &amp; Film</h4>
        <div class="cell grid-x grid-padding-x client-grid">
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
          <div class="cell medium-3 text-center">
            logo
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content fullwidth joinus" style="background-image: url(<%= main_app.url_for(@page.content(:joinus_banner).variant(resize: "1280x720")) if content(:joinus_banner).present? %>);">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-6 text-center">
        <h3>Interested in<br /><strong>Joining us?</strong></h3>
        <p><%= content(:joinus_text).try(:html_safe) %></p>
        <a href="/contact" class="button">Apply now</a>
      </div>
    </div>
  </div>
</div>
