<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "home-page" %>

<div class="banner" style="background-image: url(<%= main_app.url_for(@page.content(:banner).variant(resize: "1280x720")) if content(:banner).present? %>);">
  <div class="banner__content grid-container">
      <div class="grid-x">
        <div class="cell small-4 banner-logo">
          <%= link_to (image_pack_tag 'logo-full.svg'), '/about', :class => 'logoimage' %>
        </div>
        <div class="cell small-8 text-right">
          <%= content(:banner_title).try(:html_safe) %>
        </div>
      </div>
  </div>
</div>

<div class="content fullwidth underbanner">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-10 text-center">
        <p>Join our world leading course today <a href="/contact" class="button black">Apply now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="content nopadding">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-6 grid-x">
        <div class="cell large-10">
          <h2>Our course<br /><strong>prepares you</strong></h2>
          <p><%= content(:text).try(:html_safe) %></p>
          <a href="/course" class="button">View our course</a>
        </div>
      </div>
      <div class="cell large-6 grid-y">
        <div class="cell large-6 inner-banner grid-x align-center" style="background-image: url('/packs/media/images/sing-04251e69fcdec98dab66d80981005f5d.jpg');">
          <div class="cell large-9 text-right">
            <h3>We <strong>sing</strong></h3>
          </div>
        </div>
        <div class="cell large-6 inner-banner grid-x align-center" style="background-image: url('/packs/media/images/dance-08163e343c7c639b173b63f61c401d1c.jpg');">
          <div class="cell large-9 text-right">
            <h3>We <strong>dance</strong></h3>
          </div>
        </div>
        <div class="cell large-6 inner-banner grid-x align-center" style="background-image: url('/packs/media/images/act-b600ae763d2e86544cf8bce0b5539548.jpg');">
          <div class="cell large-9 text-right">
            <h3>We <strong>act</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content testimonials">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12">
        <h3>We are recognised<br /><strong>by industry</strong></h3>
      </div>
      <div class="cell large-12 text-center">

        <div id="testimonialCarousel" class="owl-carousel testimonial-carousel">
            <% content(:image_collection)&.images&.each do |image| %>
              <div class="testimonial" style="background-image: url(<%= main_app.url_for(image.variant(resize: "1200x400")) %>);">
                &nbsp;
              </div>
            <% end %>
        </div>

      </div>
      <div class="grid-x grid-padding-x align-middle">
        <div class="cell medium-6 accreditation">
          <p><%= content(:accred_text).try(:html_safe) %></p>
        </div>
        <div class="cell small-4 medium-2 accreditation text-center">
          <%= link_to (image_pack_tag 'new-era.png'), '#' %>
        </div>
        <div class="cell small-4 medium-2 accreditation text-center">
          <%= link_to (image_pack_tag 'pat.png'), '#' %>
        </div>
        <div class="cell small-4 medium-2 accreditation text-center">
          <%= link_to (image_pack_tag 'istd.png'), '#' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content patrons">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12">
        <h3>Our inspiring<br /><strong>patrons</strong></h3>
      </div>

      <% @page.content(:patrons).structure_items.sorted_by_structure.each do |patrons| %>
        <div class="cell medium-3 patron grid-x grid-padding-x">
          <div class="cell small-6">
            <div class="patron-picture" style="background-image: url('<%= main_app.url_for(patrons.content(:picture).variant(resize: "600x600")) %>');">&nbsp;</div>
          </div>
          <h4 class="patron-name cell medium-12"><%= patrons.content(:name) %></h4>
          <div class="patron-quote cell medium-12"><%= patrons.content(:quote).try(:html_safe) %><br /></div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="content">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-6 grid-x">
        <div class="cell large-10">
          <h2>What else<br /><strong>do we offer?</strong></h2>
          <p><%= content(:offer_text).try(:html_safe) %></p>
        </div>
      </div>
      <div class="cell large-6 grid-y">
        <div class="cell large-6 inner-banner offer grid-x align-center-middle" style="background-image: url('/packs/media/images/act-b600ae763d2e86544cf8bce0b5539548.jpg');">
          <div class="cell small-6 text-left">
            <h4>Part-time<br /><strong>theatre school</strong></h4>
          </div>
          <div class="cell small-3 text-right">
            <%= link_to (image_pack_tag 'media/images/arrow-right.svg'), '/part-time-theatre-school', class: "right-arrow" %>
          </div>
        </div>
        <div class="cell large-6 inner-banner offer grid-x align-center" style="background-image: url('/packs/media/images/sing-04251e69fcdec98dab66d80981005f5d.jpg');">
          <div class="cell small-6 text-left">
            <h4>Theatrical<br /><strong>agency</strong></h4>
          </div>
          <div class="cell small-3 text-right">
            <%= link_to (image_pack_tag 'media/images/arrow-right.svg'), '/theatrical-agency', class: "right-arrow" %>
          </div>
        </div>
        <div class="cell large-6 inner-banner offer grid-x align-center" style="background-image: url('/packs/media/images/dance-08163e343c7c639b173b63f61c401d1c.jpg');">
          <div class="cell small-6 text-left">
            <h4>Featured<br /><strong>shows</strong></h4>
          </div>
          <div class="cell small-3 text-right">
            <%= link_to (image_pack_tag 'media/images/arrow-right.svg'), '/featured-shows', class: "right-arrow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content fullwidth joinus" style="background-image: url(<%= main_app.url_for(@page.content(:joinus_banner).variant(resize: "1280x720")) if content(:banner).present? %>);">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-4 large-offset-7 text-right">
        <h3>Interested in<br /><strong>Joining us?</strong></h3>
        <p><%= content(:joinus_text).try(:html_safe) %></p>
        <a href="/contact" class="button">Apply now</a>
      </div>
    </div>
  </div>
</div>
