<!DOCTYPE html>
<html>
  <head>
    <title>DO NOT USE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
